/** for tab pane **/
.tab{
-fx-background-color: #bce5e7;
}
.tab-header-background{
-fx-background-color: white;
}

.idcard{
-fx-pref-width:80;
}

.tab-pane .tab:selected{
-fx-background-color: white;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.card{
    -fx-background-color: #f0c3bc;
    -fx-background-radius: 30;
}